.wp-block-copywriter-blocks-hero-block {
	input {
		margin-top: 10px;
		color: #777;
		border-radius: 3px;
		padding: 2px;

		&:focus {
			color: #333;
		}
	}

	button {
		padding: 10px 15px;
		background-color: #32373c;
		cursor: pointer;
		color: white;

		&:hover {
			box-shadow: inset 0 0 200px rgba(255, 255, 255, 0.15);
			color: white;
		}
	}

	.hero-block__button {
		cursor: text;
	}

	.hero-block__buttons form {
		margin-top: 20px;
	}
}

.hero-block__components-button {
	vertical-align: top;
	border: 1px solid #e2e4e7;
	background-color: #fff;
	border-radius: 3px;
	margin-bottom: 15px;
}
