/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-copywriter-blocks-brand-logos {
	.logo-container button {
		position: relative;
		width: 150px;
		height: 150px;

		img {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			bottom: 0;
		}
	}
}
