/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-copywriter-blocks-brand-logos {
	margin: 50px 0;
	padding: 50px 0;

	.title {
		text-align: center;
		font-size: 14px;
		text-transform: uppercase;
	}

	.logo-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 40px;
		justify-items: center;
	}
}
